
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #ffffff;
}
header {
    padding: 1rem 0;
    text-align: center;
    color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes textGradient {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header h1 {
    margin: 0;
    font-size: 7rem;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, #ffffff, #383838, #ffffff, #4e4e4e);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textGradient 4s linear infinite;
}

header p{
    font-weight: bold;
    color: white;
    font-size: 1.1rem;
    background: linear-gradient(135deg, rgba(173, 173, 173, 0.959), rgba(114, 114, 114, 0.37));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 5rem 1rem 1rem 1rem;
    text-align: center;
    height: 50vh;
}

.container h2{
    color: white;
    font-size: 1.7rem;
    background: linear-gradient(135deg, #ffffff, #7272725e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container p{
    font-size: 1.1rem;
    color: #8b8b8baf;
    background: linear-gradient(180deg, #fffffff5, #a7a7a75e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    margin: 1rem 0;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    background: linear-gradient(135deg, #fffffff5, #7272725e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.432);
    transition: background 1s ease;
}

.btn:hover {
    background-color: #ffffffe3;
}

footer {
    background-color: #000000e3;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

footer a{
    color: #9b9b9b;
    text-decoration: none;
}

.bg-sphere{
    height: 550px;
    width: 550px;
    filter: blur(250px);
    position: absolute;
    background-color: #ffffff;
    border-radius: 100%;
    top: 0;
    left: 0;
}

@media screen and (max-width: 768px) {

    header h1{
        font-size: 40px;
        font-size: 3rem;
    }

    header p{
        font-size: 0.8rem;
    }
    
    .container h2{
        font-size: 1.5rem;
    }

    .container p{
        font-size: 0.9rem;
    }

    .container{
        height: 75vh;
    }

    .btn{
    font-size: 0.9rem;
        
    }

    .bg-sphere{
        height: 250px;
        width: 250px;
        filter: blur(100px);
    }
}